.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 400px;
  margin-left: 10px;
  font-family: "Times New Roman", Times, serif;
}

.title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 1.2em;
  font-weight: lighter;
}

.subject {
  margin: 0;
  font-size: .8em;
  font-weight: lighter;
}

.functions {
  margin: 0;
  font-size: 0.7em;
  font-style: lighter;
}

.year {
  margin: 0;
  font-size: 0.7em;
}