@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* Change this to your desired background color */
  padding-bottom: env(safe-area-inset-bottom);
  overflow: auto;
}

.modal-wrapper {
  width: 99dvw;
  height: 99dvh;
}

.modal {
  background: white;
  height: 100%;
  width: 100%;
  padding: 15px;
  overflow-x: auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 98dvw;
  height: 101dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.modal-body {
  height: auto;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}
