@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add FooterTwo css to global tree - might want to not do this and import directly into needed page/component? */
@import url('./FooterTwo.css');
html,
body {
  /* Change this to your desired background color */
  padding-bottom: env(safe-area-inset-bottom);
  overflow: auto;
}

.modal-wrapper {
  width: 100dvw;
  height: 100dvh;
}

.modal {
  display: flex;
  align-items: center;
  background: white;
  height: 100%;
  width: 100%;
  padding: 15px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 42;
}

.modal-body {
  height: auto;
  /* Allows child to scroll */
  overflow-x: auto;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}
