html,
body {
  /* Change this to your desired background color */
  padding-bottom: env(safe-area-inset-bottom);
  overflow: hidden;
}

@font-face {
  font-family: "KAMAR";
  src: url("/fonts/KAMAR.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.modal-wrapper {
  width: 100dvw;
  height: 100dvh;
}

.modal {
  display: flex;
  align-items: center;
  background: white;
  height: 100%;
  width: 100%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 42;
}

.modal-body {
  height: auto;
  /* Allows child to scroll */
  overflow-x: auto;
  overflow-y: hidden;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}
