/* HeroGallery.module.css */

.heroGalleryContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-top: 100px;
  gap: 4px;
}

.leftColumnContainer {
  flex: 1;
  display: flex;
  flex-direction: column; 
  gap: 8px;
  align-items: flex-end;
  width: 30dvw;
}

.leftColumnFlex {
    display: flex;
    justify-content: flex-end;
    flex: 1 0 auto;
}

.rightColumnContainer {
  flex: 1;
  display: flex;
  flex-direction: column; 
  gap: 8px;
  align-items: flex-start;
  width: 30dvw;
}

.rightColumnFlex {
  display: flex;
  justify-content: flex-start;
  flex: 1 0 auto;
}

.widePhotoContainer {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  max-height: max-content;
  margin: 0 auto;
}