/* HeroGallery.module.css */

.heroGalleryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 200;
  gap: 0px;
}

.leftColumnContainer {
  flex: 1;
  display: flex;
  flex-direction: column; 
  gap: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
  align-items: flex-end;
  width: 30dvw;
}

.leftColumnFlex {
    display: flex;
    justify-content: flex-end;
    flex: 1 0 auto;
    position: relative;
    max-width: 100%;
}

.rightColumnContainer {
  flex: 1;
  display: flex;
  flex-direction: column; 
  gap: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
  align-items: flex-start;
  width: 30dvw;
}

.rightColumnFlex {
  display: flex;
  justify-content: flex-start;
  flex: 1 0 auto;
  position: relative;
  max-width: 100%;
}

.widePhotoContainer {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  max-height: 80dvw; 
  position: relative;
}

@media (max-width: 768px) {
  .widePhotoContainer {
    width: 70dvw;
  }
}

.widePhoto {
  cursor: pointer;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .widePhoto {
    max-height: 50dvw;
  }
}
/* more specific class to add pointer cursor to non-wide photos */
.clickablePhoto {
  cursor: pointer;
}