.greenBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(60px + env(safe-area-inset-bottom));
  background-color: green;
  z-index: 10;
  transform: translateY(100%);
}

.greenBarVisible {
  animation: slideUp 0.5s ease-out forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.button {
  display: flex;
  height: '30px';
  user-select: none;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  white-space: nowrap;
  border-style: none;
  background-color: rgba(255, 255, 255, 0);
  padding-left: 1rem;
  padding-right: 1.4rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: black;
  text-decoration-line: none;
  font-weight: 500;
}

@media (min-width: 640px) {
  .button {
    gap: 0.5rem;
  }
}



.menu {
  align-items: flex-end;
  position: relative;
  z-index: 50;
  display: flex;
  min-width: 150px;
  height: 100px;
  flex-direction: column;
  overscroll-behavior: contain;
  background-color: white;
  padding: 0.5rem;
  color: black;
  outline: none !important;
  max-height: max-content;
  overflow: visible;
  font-weight: bold;
  cursor: pointer;
}

