.greenBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(60px + env(safe-area-inset-bottom));
  background-color: green;
  z-index: 10;
  transform: translateY(100%);
}

.greenBarVisible {
  animation: slideUp 0.5s ease-out forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.button {
  display: flex;
  height: 2.5rem;
  user-select: none;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  white-space: nowrap;
  border-style: none;
  background-color: rgba(255, 255, 255, 0);
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: black;
  text-decoration-line: none;
  font-weight: 500;
}

@media (min-width: 640px) {
  .button {
    gap: 0.5rem;
  }
}

.footer {
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 10;
  color: black;
}

.menu {
  position: relative;
  z-index: 50;
  display: flex;
  min-width: 200px;
  min-height: 180px;
  flex-direction: column;
  overscroll-behavior: contain;
  border-width: 2px;
  border-style: solid;
  border-color: hsl(0, 0%, 0%);
  background-color: white;
  padding: 0.5rem;
  color: black;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  outline: none !important;
  max-height: max-content;
  overflow: visible;
  font-weight: bold;
}

.menuitem {
  display: flex;
  cursor: default;
  scroll-margin: 0.5rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  outline: none !important;
}
