
.scrollcontainer {
  position: fixed;
  left: 0;
  right: 0;
  will-change: transform;
  overflow-x: scroll;
}

.thumbnailscontainer {
  position: relative;
  height: 100vh;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 160px;

  .thumbnails {
    position: relative;
    display: flex;
  }
  
  .thumbnail {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 80vh;
    width: 700px;
    // background-color: royalblue;
    margin: 0px;
  }
}
