/* .footer {
    position: fixed;
    bottom: 0px;
    right: 35px;
    z-index: 10;
    color: black;
    height: 30px;
    font-family: "KAMAR", sans-serif;
  }
ß

  .menuitem {
    display: flex;
    cursor: default;
    scroll-margin: 0.5rem;
    align-items: center;
    gap: 2rem;
    border-radius: 0.25rem;
    padding: 0.5rem;
    outline: none !important;
  } */


.footerContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
}

.footerButton {
  background: transparent;
  border: none;
  color: black;
  font-family: "KAMAR", sans-serif;
  cursor: pointer;
  width: 120px;
  height: 30px;
  padding: 10px;
  outline: none;
}

.menu {
  background: white;

  padding-left: 25px;
  padding-right: 5px;
  margin-bottom: 0px;
  /*keep menu item text in line with scroll indicator text :) */
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menuItem {
  margin: 5px 0;
  cursor: pointer;
  font-size: 1em;
  transition: color 0.3s;
  font-family: 'KAMAR', sans-serif;
}

.selectedMenuItem {
  margin: 5px 0;
  cursor: pointer;
  font-size: 1em;
  transition: color 0.3s;
  font-family: 'KAMAR', sans-serif;
  color: #39993A;
}

@media (max-width: 768px) {
  .menu {
    padding-left: 10px;
  }
  .menuItem,
  .selectedMenuItem
  {
    font-size: .9em;
  }
}